##===========================================================================
##  .gitignore
##===========================================================================


#  General
*~
cache/
tmp/
temp/
todo.txt
*-OLD
*-TODO

#  Configuration
.env

#  Building
build/
dist/

#  Packages
node_modules/

#  Logs
*.log


##|EOF
