<header role="banner" class="bg-primary text-white p-5">Unity Catalog</header>
<ul role="navigation" id="nav-main" class="nav" aria-label="Site menubar">
  <!--  Workspace/dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="/" aria-current="page">Dashboard</a>
  </li>

  <!--  Log -->
  <li class="nav-item">
    <a class="nav-link" href="admin/log" aria-current="page">Log</a>
  </li>

  <!--  Config -->
  <li class="nav-item dropdown">
    <a
      role="button"
      class="nav-link dropdown-toggle"
      href="/admin/config"
      aria-expanded="false"
      >Config</a
    >
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item" href="admin/config/item-source"
          >Item Sources</a
        >
      </li>
      <li>
        <a class="dropdown-item" href="admin/config/item-ownership"
          >Item Ownership</a
        >
      </li>
    </ul>
  </li>

  <!--  Access (privilege control) -->
  <li class="nav-item dropdown">
    <a
      role="button"
      class="nav-link dropdown-toggle"
      href="/admin/access"
      aria-expanded="false"
      >Access</a
    >
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="admin/access/users">Users</a></li>
    </ul>
  </li>

  <!-- aria-current="page"
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li> -->
</ul>
